@using System.Threading.Tasks
@using Microsoft.AspNetCore.Components
@inject IJSRuntime JsRuntime

<div id="@Map.Id" class="@Class" style="@_style"></div>

@code {
    [Parameter] public Map Map { get; set; }
    [Parameter] public string Width { get; set; }
    [Parameter] public string Height { get; set; }
    [Parameter] public string Class { get; set; } = string.Empty;

    private string _style = string.Empty;

    protected override void OnParametersSet()
    {
        _style = string.Empty;
        if (!string.IsNullOrEmpty(Height))
        {
            _style += $"height:{Height}";
        }
        if (!string.IsNullOrEmpty(Width))
        {
            _style += $";width:{Width}";
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LeafletInterops.Create(JsRuntime, Map);
            Map.RaiseOnInitialized();
        }
    }

}
